<div class="mat-elevation-z8">
  <table mat-table [dataSource]="estados">
    <!-- Coluna ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Coluna Nome -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let row">{{row.nome}}</td>
    </ng-container>

    <!-- Coluna Sigla -->
    <ng-container matColumnDef="sigla">
      <th mat-header-cell *matHeaderCellDef>Sigla</th>
      <td mat-cell *matCellDef="let row">{{row.sigla}}</td>
    </ng-container>

    <!-- Coluna Ações -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let row">
        <a routerLink="/estados/update/{{row.id}}" class="edit" matTooltip="Editar">
          <i class="material-icons">edit</i>
        </a>
        <a routerLink="/estados/delete/{{row.id}}" class="delete" matTooltip="Excluir">
          <i class="material-icons">delete</i>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
